.header {
    background-image: url('../img/sect1.jpg');
    background-position: top center;    
    background-repeat: no-repeat;    
    background-attachment: initial;
    background-size: initial;
    height: calc(100vh - 4rem);
    margin: 4rem 0 0;
    position: relative;
    overflow: hidden;

    @include screen($w799) {
        background-position: center top; 
        height: 100vh;
        margin: 0;
    }

    &__img {
        @include hover {
            transform: scale(1.1);
        }
    }

    @include screen($w350)  {
        margin: 0;
    }
}


.link {
    max-width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    & svg {
        @include hover {
            fill: #ff6033;
        }
    }

    @include screen($w799)  {
        display: none;
    }
}



.header__lists {
    list-style-type: none;
}

.header__list {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    margin-left: 3rem;
    color: #262626;
}

.header__list a {
    color: #262626;
    padding: 1rem 0;
    border-top: 3px solid transparent;

    @include screen(799px) {
        border-top: 0;
    }
}

.header__list a:hover {
    border-top: 3px solid #ff6033;
    @include screen($w799) {
        border-top: 0;
    }
}

.sec1 {
    padding: 0;
    @include screen($w799) {
        text-align: center;
    }
}

.sect-box {
    margin-top: 21rem;
    @include screen($w799) {
        margin-top: 12rem;
    }
}

.sect-box__title {
    font-weight: 300;
    font-size: 6rem;
    margin: 0;
}

.sect-box__text {
    font-size: 1.7rem;
    margin: 0;
    max-width: 370px;
    @include screen($w799) {
        margin: 0 auto;
    }
}

.sect-box__btn {
    background-color: rgb(255, 96, 51);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    padding: 15px 25px;
    border: 0;
    margin-top: 35px;

    @include hover {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    }
}

.sec2 {
    background-color: #00b1b1;
    position: relative;
    overflow: hidden;
}

.sec2__right {
    max-width: 50%;
    display: inline;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    @include screen($w799) {
        position: initial;
        padding: 0;
        transform: translate(0, 0);
    }
}

.sect-box2 {
    color: #fff;
    align-self: center;
}

.sec2__left {
    max-width: 500px;
    max-height: 500px;
}

@media screen and (max-width: 1100px) {
    .sect-box2 {
        color: #000;
    }
}

.h2-title {
    font-weight: 700;
    font-size: 9rem;
    margin: 0;
    margin-bottom: 3.5rem;
    line-height: 1;
    @include screen($w799) {
        font-size: 6rem;
    }
}

@media screen and (max-width: 799px) {
    .sec2__right {
        max-width: 100%;
        display: block;
    }

    .sec2__left {
        position: absolute;
        opacity: .6;
        top: 100%;
    }

    .h2-title {
        font-size: 6rem;
    }
}


.sect-box__text2 {
    font-weight: 300;
    font-size: 1.7rem;
}

.container.flex {
    min-height: 100%;
    flex-wrap: wrap;
}

.sec3 {
    background-image: url('../img/sect3.jpg');
    background-position: top center;    
    background-repeat: no-repeat;    
    background-attachment: initial;
    background-size: cover;
    color: #262626;
    text-align: center;
}

.contact__title-descr {
    margin-bottom: 50px;
    max-width: 325px;
    margin: 0 auto 40px;
}

.contact__form {
    max-width: 500px;
    width: 100%;
    margin-right: 170px;
}

@media screen and (max-width: 799px) {
    .contact__form {
        width: 100%;
        margin-right: 0;
    }
}

.contact-form__input {
    color: #fff;
    background-color: #00c4c481;
    font-weight: 300;
    font-size: 1.5rem;
    display: block;
    border: 0;
    outline: 0;
    border-left: 4px solid transparent;
    padding: 15px 20px;
    margin-bottom: 15px;
    transition: all .3s ease;
    width: 100%;
}

.contact-form__input[type='submit'] {
    text-align: left;
    cursor: pointer;
}

.contact-form__input[type='submit']:hover {
    background-color: #0f9b9b;
    transition: all .3s ease;
}

.contact-form__input::placeholder  {
    color: inherit;
}

.contact-form__input:hover, 
.contact-form__input[type='submit'] {
    border-color: #355b82;
    background-color: #00c4c4;
}

textarea.contact-form__input {
    max-height: 250px;
    //height: 250px;
}

.contact__adress {
    text-align: left;
    text-shadow: 1px 1px 1px white;
}

.contact__adress--bold {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
}

.contact__adress--fz20 {
    font-size: 2rem;
    margin-bottom: 15px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-style: normal;
}

footer {
    color: #b9b9b9;
    font-size: 1.6rem;
    background-color: #262626;


    & .flex {
        align-items: center;

        @include screen($w799) {
            flex-direction: column;
            & {
               text-align: center;
               line-height: 1;
            }
            & > div {
                padding: 5px 0;
            }
        }

        
    }
}

.footer--red {
    color: #ff2b58;
    font-weight: 700;
}

