@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');
@import 'mixins';
@import 'var';
@import 'styles5';
@import 'sec123f';
@import 'menu';


* {
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

a, button {
    cursor: pointer;
    text-decoration: none;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font: 300 1.7rem/1.6 'Raleway', sans-serif;
    color: $prmcol;
    background-color: $bgc;
}

section {
    padding: 90px 0;
    min-height: 100vh;
    overflow: hidden;
}
.section--big-pd {
    padding: 130px 0;
}
.section--no-mh {
    min-height: auto;
}
@media screen and (max-width: $w799) {
    section, .section--big-pd {
        padding: 20px 0;
    }

    section.sec2 {
        min-height: auto;
    }
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--left {
        justify-content: left;
    }

    &--column {
        flex-direction: column;
        @media screen and (max-width: 1110px) {
            &-reverse {
                flex-direction: column-reverse;
            }
        }
    }
}

.wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    @include screen($w799) {
        position: static;
        padding: 0;
        transform: translate(0, 0);
        text-align: center;
    }
}

@import 'middle';
